@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* universal selector .. applies to everything*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* center everything with flex */
    display: flex;
    /* sets things to be vertical  */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* take up the entire height of the browser */
    height: 100vh;
    /* hides scrollbar */
    overflow: hidden;
    margin: 0;
}

.container {
    /* turns it into a row of boxes */
    display: flex;
    width: 40vw;

}


.panel {
    background-size: cover;
    background-position: center;
    /* no repeated images - only one  */
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    /* text */
    color: aliceblue;
    /* adds cursor over the images */
    cursor: pointer;
    flex: 0.5;

    /* space out the pics */
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;




}
